[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
fastapi = "*"
uvicorn = "*"
sklearn = "*"
pydantic = "*"
pandas = "*"
python-multipart = "*"
pytest = "*"
requests = "*"
motor = "*"
slugify = "*"
dnspython = "*"
python-dotenv = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
